:root {
  --color-primary: #ee1c23;
  --color-primary-light: #ff363d;
  --color-primary-dark: #d5030a;
  --color-secondary: #fcc606;
  --color-secondary-light: #ffe020;
  --color-secondary-dark: #e3ad00;
  --color-tertiary: #009867;
  --color-tertiary-light: #1ab281;
  --color-tertiary-dark: #007f4e;

  --color-background-1: #ecf0f1;
  --color-background-primary: #6f0000;
  --color-background-secondary: #7d4700;

  --color-black: #221e1f;
  --color-black-light: #3c3839;
  --color-black-lighter: #555152;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2px 6px rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.2);
}

$font-size-default: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 56.25em; // 800px
$bp-small: 37.5em; // 600px
$bp-micro: 31.25em; // 400px
