.family {
  grid-row: row-start 1 / row-end 1;
  grid-column: full-start / col-end 4;
  padding: 5rem 3.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__image {
    flex-basis: 50%;
  }

  &__text {
    flex-basis: 45%;
  }
}

.third-header {
  text-align: center;
  flex-basis: 100%;
}
