.featured {
  grid-row: row-start 3 / row-end 3;
  grid-column: full-start / full-end;
  padding: 6rem 9rem;

  @media only screen and (max-width: $bp-largest) {
    padding: 4rem 5.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-row: row-start 4 / row-end 4;
    padding: 4rem 2rem;
  }

  &__title {
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__figure {
    flex-basis: 30%;
    margin-bottom: 4rem;
    background-color: var(--color-secondary);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--shadow-dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      flex-basis: 45%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s;
    z-index: 10;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__caption {
    background-color: var(--color-background-primary);
    width: 100%;
    color: var(--color-grey-light-3);
    font-weight: 500;
    padding: 2.2rem;
    font-size: 1.8rem;
    border-top: 1px solid var(--color-secondary);
    z-index: 20;
  }
}
