.footer {
  grid-row: footer-start / footer-end;
  grid-column: full-start / full-end;
  background-color: var(--color-background-primary);

  &__social-link {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
  }
}
