.container {
  display: grid;

  grid-template-rows:
    [navbar-start] min-content [navbar-end header-start] 92vh [header-end main-start] repeat(
      3,
      [row-start] min-content [row-end]
    )
    [footer-start] 60rem [footer-end];

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 17rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
