.navigation {
  background-color: var(--color-primary);
  grid-row: navbar-start / navbar-end;
  grid-column: full-start / full-end;

  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: flex-end;
    &-image {
      height: 7rem;
    }
    &-text {
      color: var(--color-secondary-light);
      font-size: 2.5rem;
      font-weight: 700;
      text-shadow: var(--shadow-dark);
      padding-bottom: 0.5rem;
      transform: translateX(-1.8rem);
    }
  }

  &__links {
    display: flex;
    align-content: center;
    list-style: none;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  &__link:link,
  &__link:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-shadow: var(--shadow-dark);
    transition: all 0.3s;
    padding: 2.5rem 1.5rem;
  }
  &__link:hover,
  &__link:active {
    text-shadow: var(--shadow-light);
    transform: translateY(-0.3rem);
  }
}
