.navigation {
  background-color: var(--color-primary);
  grid-row: navbar-start / navbar-end;
  grid-column: full-start / full-end;

  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-medium) {
    padding: 0 2rem;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    padding: 1rem 0;
    &-image {
      height: 7rem;
    }
    &-text {
      color: var(--color-secondary-light);
      font-size: 2.5rem;
      font-weight: 700;
      text-shadow: var(--shadow-dark);
      padding-bottom: 0.5rem;
      transform: translateX(-1.8rem);
    }
  }

  &__menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 21px;

    &-burger {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }

    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  &__links {
    display: flex;
    align-content: center;
    list-style: none;
    height: 100%;

    @media only screen and (max-width: $bp-medium) {
      display: none;
      flex-basis: 100%;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-primary-dark);
    }

    @media only screen and (max-width: $bp-medium) {
      background-color: var(--color-primary-dark);
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0.5rem;
      border-radius: 10px;
    }
  }

  &__link:link,
  &__link:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-shadow: var(--shadow-dark);
    transition: all 0.3s;
    padding: 2.5rem 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }
  &__link:hover,
  &__link:active {
    text-shadow: var(--shadow-light);
    transform: translateY(-0.3rem);
  }
}

.active {
  display: flex;
}
