.specials {
  grid-row: row-start 2 / row-end 2;
  grid-column: full-start / full-end;
  background-color: var(--color-background-primary);
  color: var(--color-grey-light-3);
  padding: 6rem 5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-row: row-start 3 / row-end 3;
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 3rem 2.5rem;
  }

  display: flex;
  flex-wrap: wrap;
  &__content {
    width: 50%;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(min-content, 1fr));

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__title {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;

    font-size: 2.8rem;
    display: block;
    margin: 3.5rem;
    font-weight: 400;
    text-shadow: var(--shadow-light);

    @media only screen and (max-width: $bp-largest) {
      margin: 2rem;
    }
  }
  &__img {
    // max-width: 60rem;
    width: 100%;
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    display: block;
    box-shadow: var(--shadow-dark);
  }
  &__description {
    display: inline-block;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 2rem;
    margin-top: 6rem;
    align-self: end;
    align-content: center;

    @media only screen and (max-width: $bp-largest) {
      margin-top: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0;
      padding: 0 2rem;
      line-height: 2.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      line-height: 3rem;
      margin-top: 4rem;
    }
  }
  &__hours {
    display: block;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-size: 1.2rem;
    font-weight: 500;
    align-self: start;
    padding: 1rem 0;
  }
}

.second-header {
  width: 100%;
  text-align: center;
}
