:root {
  --color-primary: #ee1c23;
  --color-primary-light: #ff363d;
  --color-primary-dark: #d5030a;
  --color-secondary: #fcc606;
  --color-secondary-light: #ffe020;
  --color-secondary-dark: #e3ad00;
  --color-tertiary: #009867;
  --color-tertiary-light: #1ab281;
  --color-tertiary-dark: #007f4e;
  --color-black: #221e1f;
  --color-black-light: #3c3839;
  --color-black-lighter: #555152;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2px 6px rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1.6rem;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  font-size: 1.6rem;
}

.heading-primary {
  color: var(--color-grey-light-1);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5rem;
  line-height: 7rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
  padding-bottom: 2.5rem;
}
.heading-primary--main {
  display: block;
  font-size: 7rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2.2rem;
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: inherit;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-grey-dark-1);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.3rem 2.8rem;
  border-radius: 50px;
  box-shadow: var(--shadow-dark);
}

.container {
  display: grid;
  grid-template-rows: [navbar-start] min-content [navbar-end header-start] 91vh [header-end main-start] repeat(3, [row-start] min-content [row-end]) [footer-start] 60rem [footer-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.navigation {
  background-color: var(--color-primary);
  grid-row: navbar-start/navbar-end;
  grid-column: full-start/full-end;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__logo {
  display: flex;
  align-items: flex-end;
  padding: 1rem 0;
}
.navigation__logo-image {
  height: 7rem;
}
.navigation__logo-text {
  color: var(--color-secondary-light);
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: var(--shadow-dark);
  padding-bottom: 0.5rem;
  transform: translateX(-1.8rem);
}
.navigation__links {
  display: flex;
  align-content: center;
  list-style: none;
  height: 100%;
}
.navigation__item {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.navigation__item:hover {
  background-color: var(--color-primary-dark);
}
.navigation__link:link, .navigation__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-shadow: var(--shadow-dark);
  transition: all 0.3s;
  padding: 2.5rem 1.5rem;
}
.navigation__link:hover, .navigation__link:active {
  text-shadow: var(--shadow-light);
  transform: translateY(-0.3rem);
}

.header {
  grid-row: header-start/header-end;
  grid-column: full-start/full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(flame-oven.543f78d9.jpg);
  background-size: cover;
}

.main {
  grid-row: row-start 1/row-end 1;
  grid-column: col-start 1/col-end 8;
}

.specials {
  grid-row: row-start 2/row-end 2;
  grid-column: col-start 1/col-end 8;
}

.featured {
  grid-row: row-start 3/row-end 3;
  grid-column: col-start 1/col-end 8;
}

.footer {
  grid-row: footer-start/footer-end;
  grid-column: col-start 1/col-end 8;
}