.btn {
  display: inline-block;
  font-family: inherit;
  border: none;
  text-decoration: none;
  cursor: pointer;

  background-color: var(--color-secondary);
  color: var(--color-grey-dark-1);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.3rem 2.8rem;
  border-radius: 50px;
  box-shadow: var(--shadow-dark);
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-secondary-light);
    transform: scale(1.05);
  }
}
