// Basic Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-micro) {
    font-size: 47%;
  }

  @media only screen and (min-width: $bp-2k) {
    font-size: 80%;
  }

  @media only screen and (min-width: $bp-4k) {
    font-size: 125%;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.6rem;
  background-color: var(--color-background-1);
}
